################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server_Seq_Store
/Debug
/.vs
/BondsProServer.cpp
